<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/head.html" :: head-fragment></div>

<body>
  <div th:replace="layout/header.html" :: header-fragment></div>

  <div class="container">
    <form class="register-form" th:action="@{/users}" method="post">

      <div class="form">
        <div class="center">
          <label for="username">아이디</label>
        </div>
        <div class="center">
          <input type="text" class="username" name="username" id="username" placeholder="username" required>
        </div>
      </div>

      <div class="form">
        <div class="center">
          <label for="password">비밀번호</label>
        </div>
        <div class="center">
          <input type="text" class="password" name="password" id="password" placeholder="password" required>
        </div>
      </div>

      <div class="form">
        <div class="center">
          <label for="email">이메일</label>
        </div>
        <div class="center">
          <input type="email" class="email" name="email" id="email" placeholder="email">
        </div>
      </div>

      <div class="form">
        <div class="center">
          <label for="age">나이</label>
        </div>
        <div class="center">
          <input type="text" class="age" name="age" id="age" placeholder="age">
        </div>
      </div>

      <div class="form">
        <div class="center">
          <label for="role">권한</label>
        </div>
        <div class="center">
          <input type="text" class="role" name="role" id="role" placeholder="role">
        </div>
      </div>

      <div class="form">
        <label for="click"></label>
        <button type="submit" class="click" name="click" id="click">가입하기</button>
      </div>

    </form>
  </div>
</body>
</html>