<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="/admin/common/head.html" :: head-fragment></div>

<body>
<div th:replace="/admin/common/top.html" :: admin-top-fragment></div>
<main>
    <div class="content">
        <form action="" th:object="${role}" th:action method="post">
            <div>
                <label for="roleName">권한명</label>
                <input type="text" class="form-control" id="roleName" th:field="*{roleName}" placeholder="roleName">
            </div>
            <div>
                <label for="roleDescription">권한설명</label>
                <input type="text" class="form-control" id="roleDescription" th:field="*{roleDescription}" placeholder="roleDescription">
            </div>

            <div>
                <div>
                    <button type="submit">등록</button>
                </div>
                <div>
                    <button
                            th:onclick="|location.href='@{/admin/roles}'|"
                            type="button">목록</button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>